@model IEnumerable<WebApplication.Models.Product>

@{
    ViewBag.Title = "ShopList";
}

<h2>ShopList</h2>

<p class="float-right">
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProductId)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.CategoryId)

            </td>
            <td>
                @Html.DisplayNameFor(model => model.CategoryId)

            </td>
            <td>
                @Html.DisplayNameFor(model => model.CategoryName)

            </td>
            <td>
                @Html.ActionLink("Edit", "Create", new { id=item.ProductId }) | |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
            </td>
        </tr>
    }

</table>
